.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px 34px;
  height: 64px;
  width: 184px;
  font-family: 'Jost';
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  transition: transform 0.1s ease-in;

  &:hover {
    transform: scale(1.01);
  }

  &.default {
    background: #e1e1e1;
    border-radius: 18px;
    box-shadow: 3.12px 3.12px 40.56px 0px rgba(0, 0, 0, 0.1);
  }

  &.primary {
    background: #000fff;
    border-radius: 18px;
    color: #fff;
  }

  &.vertical {
    padding: 0;
    transform: rotate(90deg) translateY(-100%);
  }
}
