.education_page {
  margin-bottom: 15px;

  .card_content {
    display: flex;
    flex-direction: column;
    flex: /*gr*/ 1 /*sr*/ 1 /*bs*/ auto; /* fill space */
    width: 300px;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      .forward_icon {
        display: flex;
        align-items: center;
      }

      & > * {
        white-space: nowrap;
      }
    }

    .bottom {
      margin-top: auto;
      margin-bottom: 0;
    }
  }
}
