.input {
  .field {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    width: fit-content;
    background: white;
    border: 1px solid #c2c2c2;
    border-radius: 30px;
    box-shadow: /*x*/ 0 /*y*/ 2px /*spr*/ 5px /*sld*/ 0 rgba(0, 0, 0, 0.3);

    input {
      flex: /*gr*/ 1 /*sr*/ 1 /*bs*/ auto; /* fill space */
      min-width: 700px;
      background: transparent;
      outline: none;
      border: none;
      font-family: 'Montserrat';
      font-size: 20px;
      line-height: 24px;
    }

    input::placeholder {
      opacity: 0.5;
      user-select: none;
    }

    .x_icon {
      margin-left: auto;
      margin-right: 0;
      cursor: pointer;
    }
  }
}
