@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Jost';
  src: url('./Jost/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('./Jost/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Jost';
  src: url('./Jost/Jost-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
}
